<div class="card mt-5">
  <div class="card-header">
    <h5 class="card-title">Alterar aeronaves</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="airplaneEditForm">
      <div class="form-group">
        <label for="modelo">Modelo</label>
        <input id="modelo" class="form-control" type="text" formControlName="modelo">
        <span *ngIf="formFieldIsValid('modelo')"><small class="text-danger">Campo obrigatório</small></span>
      </div>
      <div class="form-group">
        <label for="qtdPassageiros">Quantidade de passageiros:</label>
        <input id="qtdPassageiros" class="form-control" type="number" formControlName="qtdPassageiros">
        <span *ngIf="formFieldIsValid('qtdPassageiros')"><small class="text-danger">Campo obrigatório</small></span>
      </div>
      <button [disabled]="this.airplaneEditForm.invalid" class="btn btn-success" (click)="Salvar()">Salvar</button>
      <button class="btn btn-primary ml-3" [routerLink]="['']">Voltar</button>
    </form>
  </div>
</div>
