<div class="container">
  <form [formGroup]="airplaneForm">
    <div class="form-group">
      <label for="modelo">Modelo</label>
      <input id="modelo" class="form-control" type="text" formControlName="modelo">
    </div>
    <div class="form-group">
      <label for="qtdPassageiros">Quantidade de passageiros:</label>
      <input id="qtdPassageiros" class="form-control" type="number" formControlName="qtdPassageiros">
    </div>
    <button class="btn btn-outline-success" (click)="Salvar()">Salvar</button>
  </form>
  <table>
    <thead>
      <th>Id</th>
      <th>Modelo</th>
      <th>Quantidade de passageiros</th>
      <th>Data de criação do registro</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr id={{airplane.id}} *ngFor="let airplane of airplanes;">
        <td>{{airplane.id}}</td>
        <td>{{airplane.modelo}}</td>
        <td>{{airplane.qtdPassageiros}}</td>
        <td>{{airplane.dataCriacaoRegistro | date:'dd/MM/yyyy'}}</td>
        <td><button (click)="openModal(modalEdit, airplane.id)" class="btn btn-outline-info">Editar</button></td>
        <td><button (click)="openModal(modalDelete, airplane.id)" class="btn btn-outline-danger">Deletar</button></td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #modalEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="Editar()">Salvar</button>
  </div>
</ng-template>


<ng-template #modalDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Deletar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
