<div class="card mt-5">
  <div class="card-header">
    <h5 class="card-title">Cadastro de aeronaves</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="airplaneForm">
      <div class="row">
        <div class="form-group col-md-8">
          <label for="modelo">Modelo</label>
          <input id="modelo" class="form-control" type="text" formControlName="modelo">
          <span *ngIf="formFieldIsValid('modelo')"><small class="text-danger">Campo obrigatório</small></span>
        </div>
        <div class="form-group col-md-4">
          <label for="qtdPassageiros">Quantidade de passageiros:</label>
          <input id="qtdPassageiros" class="form-control" type="number" formControlName="qtdPassageiros">
          <span *ngIf="formFieldIsValid('qtdPassageiros')"><small class="text-danger">Campo obrigatório</small></span>
        </div>
      </div>

      <div class="row">
        <label for="filterAiplane" class="col-md-4">Filtrar por modelo</label>
      </div>

      <div class="row mb-3">
        <div class="form-group col-md-6">
          <div class="input-group">
            <input #inputFilterAirplane id="filterAiplane" type="text" class="form-control">
            <span class="input-group-btn">
              <button (click)="Filtrar(inputFilterAirplane.value)" class="btn btn-success"
                type="button">Filtrar</button>
            </span>
          </div>
        </div>
      </div>

      <button class="btn btn-success" (click)="Salvar()" [disabled]="this.airplaneForm.invalid">Salvar
      </button>
    </form>
  </div>
</div>
<app-airplane-list [airplanes]="this.airplanes" [filterInput]="inputFilterAirplane.value"></app-airplane-list>
